---
layout: compress
---

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Les Bricodeurs",
  "url" : "http://lesbricodeurs.fr",
  "sameAs" : [
    "http://www.facebook.com/lesbricodeurs",
    "http://www.twitter.com/lesbricodeurs",
    "https://github.com/LesGeeksDuDimanche",
    "http://www.meetup.com/fr/Design-et-technologie-pour-projets-citoyens"

    ]
}
</script>

<head>
{% include head.html %}
</head>

<body id="page" style="background-color: #CCF;" >

<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav" class="animated drop">
      <ul>
      {% for link in site.data.navigation %}
        {% if link.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
        {% endif %}
        <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
      {% endfor %}
      </ul>
  </nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

<header class="masthead">
    <div class="wrap">
      <a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
    </div>
</header><!-- /.masthead -->


<div class="js-menu-screen menu-screen"></div>


<div id="main" role="main" >
  <article class="entry">
    <img src="{{ site.url }}/images/Bandeau3.jpg" class="entry-feature-image" alt="Bandeau" style="margin-top: -3rem;">
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title" style="color: #FC1"> les Ateliers d'Ada </h1>
      </header>
      <div class="entry-content">

    Destinés aux enfants, les ateliers d'Ada font découvrir la robotique et  la programmation dans une approche ludique et pédagogique moderne


    Entre robots LEGO mindstorms, programmation de jeux videos Scratch, processing et arduino pour les plus avancés. Le 26 mars, permettra de tout essayer, puis pour chaque session les thèmes seront annoncés.


       
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo" class="entry-wrapper">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

</body>
</html>








