<p><i>Vous portez un projet? Vous voulez organiser une Nuit du Code Citoyen dans votre ville? vous voulez participer? Nous préparons déjà l'édition 2018 :</i></p>
<a title="Organisateur" class="btn-accent" href="https://nuitcodecitoyen.org/participer/fr/organisateur.html">
Organisateur
</a> <a title="projet" class="btn-complement" href="https://nuitcodecitoyen.org/participer/fr/proposer-un-projet.html">
Porteur de projet
</a> <a title="participant" class="btn" href="https://nuitcodecitoyen.org/participer/fr/participant.html">
Participant</a>
<p>
<i>
	
Vous voulez être partenaires?  <a href="mailto:salut@lesbricodeurs.fr">salut@lesbricodeurs.fr</a>
</i>
</p>
