<div>
	<span class="social-share-twitter">
	  <a href="https://twitter.com/intent/tweet?hashtags={{ page.tags | join: ',' | remove: ' ' }}&amp;text={{ page.title | escape | replace:' ','%20' }}&amp;url={{"http:"}}{{ site.url }}{{ page.url }}{% if author.twitter %}&amp;via={{ author.twitter }}{% endif %}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square fa-2x"></i> Tweet </a>
	</span>
	<i> </i>
	<span class="social-share-facebook">
	  <a href="https://www.facebook.com/sharer/sharer.php?u={{"http:"}}{{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square fa-2x"></i> Like </a>
	</span>
<!-- 	<span class="social-share-googleplus">
	  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus-square"></i> +1 </a>
	</span> -->
</div>
<!-- /.social-share -->