/* ==========================================================================
   Buttons
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-size(14);
  background-color: $btn-bg-color;
  color: $btn-color;
  border: 2px solid $btn-border-color !important;
  border-radius: $border-radius;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $btn-bg-hover-color;
    color: $btn-hover-color ;
    border-color: $btn-border-hover-color;
  }
}

.btn-link{
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-size(14);
  background-color: $btn-bg-color;
  color: $btn-color;
  border: 2px solid $btn-border-color;
  border-radius: $border-radius;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $btn-bg-hover-color;
    color: $btn-hover-color ;
    border-color: $btn-border-hover-color;
  }
}


.btn-accent {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-size(14);
  background-color: $accent-color;
  color: $white;
  border: 2px solid $accent-color !important;
  border-radius: $border-radius;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $accent-color;
  }
}


.btn-complement {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-size(14);
  background-color: $complement-accent;
  color: $white;
  border: 2px solid $complement-accent !important;
  border-radius: $border-radius;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $complement-accent;
  }
}


/*
   Close button
   ========================================================================== */

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: 0 solid transparent;
  color: $white;
}
