/* ==========================================================================
   Notices
   ========================================================================== */

/*
   Default notice
   ========================================================================== */

.notice {
  margin-top: 1.5em;
  padding: .5em 1em;
  text-indent: 0;
  @include font-size(16);
  background-color: lighten($black, 95);
  border: 1px solid lighten($black, 90);
  @include rounded(4px);

  p {
    margin-bottom: 5px;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notice--warning {
  color: #333;
  background-color: #fff3d4;
  border: none;
  border-left: 5px solid #f6b73c;
}

/*
   Browser upgrade notice
   ========================================================================== */

.upgrade {
  padding: 10px;
  text-align: center;
}
