#partenaires{
  display:flex;
  justify-content: space-around;
  a {
    margin: 10px;
  }
}

#prochaines-dates{
  display: none;
}

$width : 60%;

#preecole {
  .project_container{
    width: $width;
    margin-left: (100% - $width)/2;
    min-height: 150px;
    .title{
      //height: 3em;
      padding: 1em 5%;
      h5{
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
    }
    .project_text{
      height: auto;
      img{
        float: right;
        padding: 0.5rem;
      }
      a{
        display: block;

        //padding: 1em;
        @media screen and (min-width: 800px) {
            margin-left: 72px;
        }
        margin-top: 14px;
      }
      a.btn-link{
        display: inline-block;
      }

    }
    .project {
      background-color: #fbfbfb;
    }
  }
}

