.view-cap, .view-container-border {

}

.mv-dayname

 .mv-daynames-table


 .st-bg{
 	// background of each of the cell
 }


 .st-bg-today {


 }

 .st-dtitle {
 	//dates of the days in the Calendar
 }


.st-bg { background:black; }
.st-bg-today { background:yellow; border-left:1px solid yellow; border-right:1px solid yellow; }
.st-dtitle { background:white; }

.view-cap, .view-container-border { background-color:black; }
.mv-daynames-table { color:white; background:black; }
.mv-event-container { border-top:1px solid black; }