/* ==========================================================================
 	Petites additions
   ========================================================================== */

.rond {




               border-radius: 50%;
                overflow: hidden;
                width: 150px;
                height: 150px;
}


